:root {
  --azure: #0290ff;
  --black-two: #121212;
  --pale-gray: #9c9c9c;
  --border: rgb(212, 208, 208);
  --btn: #4386bf;
  --warm-gray: #5a5959;
}

@font-face {
  font-family: 'robotoSlab';
  src: url(./assets/fonts/robotoSlab/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'm-light';
  src: url(./assets/fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'm-medium';
  src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'm-normal';
  src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'm-semiBold';
  src: url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'm-bold';
  src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf);
}

body {
  background-color: #f0f1f1;
  font-family: 'robotoSlab', Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
